<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分享列表</title>
</head>
<body>
    {% for share in shares %}
        <h3>标题:{{ share.title }}</h3>
        <img src="{{ share.photo.url }}">
        <video src="{{ share.video.url }}" controls="controls">hh</video>
        <p>{{ share.content }}</p>
        <p>分类:{{ share.share_type.type_name }}</p>
        <p>作者:{{ share.author.username }}</p>
        <p>阅读:{{ share.read_num }}</p>
    {% empty %}
        <h3>暂无分享</h3>
    {% endfor %}
    <div>
        {% if page_num_shares.has_previous %}
            <a href="?page={{ page_num_shares.previous_page_number }}">上一页</a>
        {% else %}
            {# <span>上一页</span> #}
        {% endif %}

        {% for page_num in page_num_shares.paginator.page_range %}
            <a href="?page={{ page_num }}">{{ page_num }}</a>
        {% empty %}
            <p>啥都没有</p>
        {% endfor %}
        {% if page_num_shares.has_next %}
            <a href="?page={{ page_num_shares.next_page_number }}">下一页</a>
        {% else %}
            {# <span>下一页</span> #}
        {% endif %}
    </div>
</body>
</html>